<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
    <title>GitHub 文件加速</title>
</head>

<body class="flex">
    <h1 style="margin-bottom: 50px"><img src="https://ae01.alicdn.com/kf/H2fc84859291347418b11091fe0e508b8v.png"
            style="width: 1.5em;margin-right: .2em;vertical-align: bottom;">GitHub 文件加速</h1>
    <form action="./" method="get" style="padding-bottom: 40px" target="_blank" class="flex" onsubmit="toSubmit(event)">
        <label class="block" style="width: fit-content">
            <input class="block url" name="q" type="text" placeholder="键入Github文件链接"
                pattern="^((https|http):\/\/)?(github\.com\/.+?\/.+?\/(?:releases|archive|blob)|(raw\.githubusercontent\.com))\/.+$"
                required>
            <div class="bar"></div>
        </label>
        <input class="block btn" type="submit" value="下载">
    </form>
    <p style="position: sticky;top: calc(100% - 2.5em);">十三更琉璃<a style="color: #3294ea" href="#"></a>
    </p>
</body>
<script>
    function toSubmit(e) {
        e.preventDefault()
        window.open('/' + document.getElementsByName('q')[0].value);
        return false
    }
</script>
</html>